<div class="home-banner">
  <h1 class="home-font">topShelf</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
</div><br>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-description">
            <%= cl_image_tag cocktail.photo.key, height: 120, width: 235, crop: :fill if cocktail.photo.attached? %>
            <h2><%= cocktail.name %></h2>
          </div>
          <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
</div>
