<div class="home-banner">
  <h1 class="home-font">topShelf</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
</div>

<div class="cards-list">
  <% @cocktails.each do |cocktail| %>
    <div class="card 1">
      <div class="card_image"><%= cl_image_tag cocktail.photo.key, class: "image-tag", height: 240, width: 470, crop: :fill if cocktail.photo.attached? %></div>
        <div class="card_title title-white">
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
      </div>
   <% end %>
   </div>
</div>
